@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    
}


header{
    position: absolute;
    width: 100vw;
    height: 120vh;
    background-image: url("./images/lanscape1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


/* navbar */
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background-color: #5387BD; */
    width: 100vw;
    height: 15%;
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    z-index: 3;

}


.logo{
    margin-left: 10%;
}

.logo h1 a{
    color: white;
    text-decoration: none;
}

.navlinks ul{
    /* border: 1px solid red; */
    width: 50vw;
    cursor: pointer;
}



.navlinks ul li{
    display: inline-block;
    margin-right: 5%;
    transition: all 0.5s ease-in;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;

}

/* .navlinks ul li:hover{
    padding: 0 0 10px 0;
    border-bottom: 1px solid #5387BD;
}
*/


.difflink{
    border: 1px solid white;
    padding: 10px 10px;
    transition: all 0.5s ease-in-out;
}

.difflink:hover{
    background-color: #5387BD;
    padding: 10px 20px;
    border: none;
}


/* banner items */
.bannerwords{
    position: relative;
    margin-top: 30vh;
    margin-left: 10%;
    z-index: 2;
    
}

.bannerwords .titban{
    font-size: 70px;
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: normal;
}

.bannerwords p{
    margin-top: 2%;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.bannerwords button{
    margin-top: 2%;
    padding: 10px 50px;
    color: #FFFFFF;
    background-color: #5387BD;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.bannerwords button:hover{
    padding: 20px 70px;
    color: white;
}

button:hover{
    padding: 20px 70px;
    color: white;
    cursor: pointer;
}