main{
    position: relative;
    padding-top: 120vh;

}


.section1{
    margin: 5% 10%;
}

.journ{
    margin-bottom: 2%;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.journ h1, .journ h4{
    color: #5387BD;

}

.journ p{
    margin-top: 1%;
}

